/*global style*/
.block{
    vertical-align: top;
    display: inline-block;
}
body{
    background-color: #f8f8f8
}

ul.main-menu{
    list-style-type: none;
    vertical-align: bottom;
}
li.menu-item{
    display: inline;
    margin: 15px;
    outline: 1px solid;
    padding: 5px 0px;
    background-color: lightgray
}
a.menu-item{
    font-size: 20px;
    text-decoration: none;
    color: blue;
    padding: 5px 10px;
}
li.menu-item:hover{
    background: blue;
}
a.menu-item:hover{
    color: white;
}
.logo{
    border-radius: 50%;
}
.temp-table{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-collapse: collapse;     
}
.temp-tr:first-child{
    height: 15px;    
}
.temp-tr:last-child{
    height: 15px;    
}
.temp-td{
    border: 1px solid black;
}

/*catalog*/
.img-preview{
    width: 150px;
}
.ctg-item{
    text-align: center;
    color: mediumblue;
    font-weight: 600;
    margin: 5px;
}

/*product*/
.pr-img{
    margin: 5px;
    outline: 3px solid gray;
    width: 300px
}
.pr-img:hover{
    outline: 0px
}
.pr-header{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea
}
p.capit-letter::first-letter{
    font: 20px bold arial;
    color: blue;
}
.pr-desc{
    margin: 0px;
    padding: 5px;
    list-style: none;
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.pr-fulldesc{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.pr-spec{
    font-style: oblique;
    font-weight: 800;
    padding-left: 15px;
    list-style-image: url(../content/imgs/mark.png);
}
.pr-spec-table{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
.pr-spec-td{
    border: 1px solid black;
    padding: 3px;
}

/*contacts*/
.cont-feedback{
    width: 450px
}
.cont-email:focus{
    color: lime;
    background: black
}
.cont-text{
    text-transform: capitalize;
}
.cont-input{
    margin: 5px;
    width: 200px;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    
}
.cont-mes{
    width: 250px;
    height: 150px;
}
.cont-btn{
    width: 125px;
    height: 25px
}